.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.homePage {

  display: flex;
}

.leftSide {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-color: black;
}